html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:1200px;min-height:3595px;}
.cont{z-index:1;pointer-events:none;border:0;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(212,211,235)), color-stop(1, rgb(246,242,252)));background-image:-o-linear-gradient(right, rgb(212,211,235) 0%, rgb(246,242,252) 100%);background-image:-webkit-linear-gradient(right, rgb(212,211,235) 0%, rgb(246,242,252) 100%);background-image:-ms-linear-gradient(right, rgb(212,211,235) 0%, rgb(246,242,252) 100%);background-image:linear-gradient(to right, rgb(212,211,235) 0%, rgb(246,242,252) 100%);background-clip:padding-box;}
.pos-2{position:relative;margin-top:680px;}
.vis-2{display:block;vertical-align:top;}
.section{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.vis-3{display:inline-block;vertical-align:top;}
.pos-3{position:relative;margin-left:812px;margin-top:0;}
.size-2{min-width:295px;width:295px;min-height:50px;}
.pos-4{position:relative;margin-left:0;margin-top:0;}
.size-3{min-width:55px;width:55px;min-height:47px;}
.colwrapper{line-height:0;}
.vis-4{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-5{position:relative;margin-left:0;margin-top:0;}
.size-4{min-width:55px;width:55px;min-height:47px;height:47px;}
.cont-3{z-index:3;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:22px;font-weight:400;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:31px;letter-spacing:normal;text-shadow:none;}
.pos-6{position:relative;margin-left:10px;margin-top:-7px;}
.size-5{min-width:38px;width:38px;min-height:1px;height:1px;}
.cont-4{z-index:7;border:0;background-color:rgb(0,0,0);}
.pos-7{position:relative;margin-left:25px;margin-top:9px;}
.size-6{min-width:58px;width:58px;min-height:38px;height:38px;}
.cont-5{z-index:4;pointer-events:auto;}
.font-2{font-family:"Arial Unicode MS", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-8{position:relative;margin-left:22px;margin-top:9px;}
.size-7{min-width:55px;width:55px;min-height:37px;height:37px;}
.cont-6{z-index:5;pointer-events:auto;}
.font-3{font-family:"Arial Unicode MS", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-9{position:relative;margin-left:25px;margin-top:9px;}
.size-8{min-width:55px;width:55px;min-height:41px;height:41px;}
.cont-7{z-index:6;pointer-events:auto;}
.font-4{font-family:"Arial Unicode MS", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-10{position:relative;margin-left:-1107px;margin-top:95px;}
.size-9{min-width:1px;width:1px;min-height:1px;}
.pos-11{position:relative;margin-left:397px;margin-top:199px;}
.size-10{min-width:459px;width:459px;min-height:142px;height:142px;}
.cont-8{z-index:26;pointer-events:auto;}
.img{position:absolute;left:0;width:459px;height:101px;top:21px;border:0;}
.img-2{left:0;width:459px;height:101px;top:21px;display:inline-block;}
.pos-12{position:relative;margin-left:171px;margin-top:77px;}
.size-11{min-width:698px;width:698px;min-height:351px;}
.pos-13{position:relative;margin-left:0;margin-top:0;}
.size-12{min-width:376px;width:376px;min-height:351px;}
.cont-10{z-index:20;border:0;background-color:rgb(255,255,255);}
.pos-14{position:relative;margin-left:20px;margin-top:33px;}
.size-13{min-width:332px;width:332px;min-height:293px;height:293px;}
.cont-11{z-index:21;pointer-events:auto;}
.img-3{position:absolute;left:1px;width:331px;height:293px;top:0;border:0;}
.img-4{left:1px;width:331px;height:293px;top:0;display:inline-block;}
.pos-15{position:relative;margin-left:100px;margin-top:9px;}
.size-14{min-width:58px;width:58px;min-height:106px;}
.pos-16{position:relative;margin-left:0;margin-top:0;}
.size-15{min-width:58px;width:58px;min-height:49px;height:49px;}
.cont-12{z-index:10;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.pos-17{position:relative;margin-left:2px;margin-top:21px;}
.size-16{min-width:56px;width:56px;min-height:36px;height:36px;}
.cont-13{z-index:15;pointer-events:auto;}
.pos-18{position:relative;margin-left:-55px;margin-top:148px;}
.size-17{min-width:63px;width:63px;min-height:171px;}
.size-18{min-width:55px;width:55px;min-height:39px;height:39px;}
.cont-14{z-index:16;pointer-events:auto;}
.pos-19{position:relative;margin-left:0;margin-top:28px;}
.size-19{min-width:63px;width:63px;min-height:39px;height:39px;}
.cont-15{z-index:17;pointer-events:auto;}
.pos-20{position:relative;margin-left:0;margin-top:26px;}
.size-20{min-width:55px;width:55px;min-height:39px;height:39px;}
.cont-16{z-index:18;pointer-events:auto;}
.pos-21{position:relative;margin-left:-1px;margin-top:148px;}
.size-21{min-width:112px;width:112px;min-height:168px;}
.colwrapper-2{line-height:0;}
.vis-5{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-22{position:relative;margin-left:0;margin-top:0;}
.size-22{min-width:87px;width:87px;min-height:38px;height:38px;}
.cont-17{z-index:11;pointer-events:auto;}
.para-3{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-5{font-family:"Arial Unicode MS", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-23{position:relative;margin-left:0;margin-top:95px;}
.size-23{min-width:112px;width:112px;min-height:35px;height:35px;}
.cont-18{z-index:14;pointer-events:auto;}
.pos-24{position:relative;margin-left:544px;margin-top:-342px;}
.size-24{min-width:154px;width:154px;min-height:243px;}
.pos-25{position:relative;margin-left:0;margin-top:0;}
.size-25{min-width:154px;width:154px;min-height:49px;height:49px;}
.cont-19{z-index:9;pointer-events:auto;}
.font-6{font-family:"Arial Unicode MS", sans-serif;font-size:20px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:38px;letter-spacing:normal;text-shadow:none;}
.pos-26{position:relative;margin-left:0;margin-top:28px;}
.size-26{min-width:132px;width:132px;min-height:34px;height:34px;}
.cont-20{z-index:13;pointer-events:auto;}
.font-7{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-27{position:relative;margin-left:0;margin-top:95px;}
.size-27{min-width:148px;width:148px;min-height:37px;height:37px;}
.cont-21{z-index:12;pointer-events:auto;}
.pos-28{position:relative;margin-left:-70px;margin-top:505px;}
.size-28{min-width:295px;width:295px;min-height:58px;}
.pos-29{position:relative;margin-left:0;margin-top:18px;}
.size-29{min-width:55px;width:55px;min-height:40px;height:40px;}
.cont-22{z-index:39;pointer-events:auto;}
.para-4{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font-8{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-30{position:relative;margin-left:9px;margin-top:0;}
.size-30{min-width:92px;width:92px;min-height:53px;}
.pos-31{position:relative;margin-left:0;margin-top:0;}
.size-31{min-width:92px;width:92px;min-height:49px;height:49px;}
.cont-23{z-index:23;pointer-events:auto;}
.font-9{font-family:"Arial Unicode MS", sans-serif;font-size:22px;font-weight:400;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:41px;letter-spacing:normal;text-shadow:none;}
.pos-32{position:relative;margin-left:16px;margin-top:3px;}
.size-32{min-width:60px;width:60px;min-height:1px;}
.pos-33{position:relative;margin-left:0;margin-top:0;}
.size-33{min-width:60px;width:60px;min-height:1px;height:1px;}
.cont-24{z-index:43;border:0;background-color:rgb(0,0,0);}
.pos-34{position:relative;margin-left:0;margin-top:-1px;}
.cont-25{z-index:19;border:0;background-color:rgb(0,0,0);}
.pos-35{position:relative;margin-left:4px;margin-top:12px;}
.size-34{min-width:55px;width:55px;min-height:37px;height:37px;}
.cont-26{z-index:46;pointer-events:auto;}
.font-10{font-family:"Arial Unicode MS", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-36{position:relative;margin-left:25px;margin-top:12px;}
.size-35{min-width:55px;width:55px;min-height:41px;height:41px;}
.cont-27{z-index:47;pointer-events:auto;}
.font-11{font-family:"Arial Unicode MS", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-37{position:relative;margin-left:-1094px;margin-top:653px;}
.pos-38{position:relative;margin-left:397px;margin-top:732px;}
.size-36{min-width:462px;width:462px;min-height:154px;height:154px;}
.cont-28{z-index:22;pointer-events:auto;}
.img-5{position:absolute;left:0;width:462px;height:128px;top:13px;border:0;}
.img-6{left:0;width:462px;height:128px;top:13px;display:inline-block;}
.pos-39{position:relative;margin-left:230px;margin-top:26px;}
.size-37{min-width:763px;width:763px;min-height:356px;}
.size-38{min-width:204px;width:204px;min-height:356px;height:356px;}
.cont-29{z-index:32;pointer-events:auto;}
.anchor{display:block;}
.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0}.mfp-bg,.mfp-container,.mfp-wrap{height:100%;width:100%}.mfp-container:before,.mfp-figure:after{content:''}.mfp-bg{z-index:10042;overflow:hidden}.mfp-wrap{z-index:10043;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:10045}.mfp-close,.mfp-preloader{text-align:center;position:absolute}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#CCC;top:50%;width:auto;margin-top:-.8em;left:8px;right:8px;z-index:10044}.mfp-preloader a{color:#CCC}.mfp-close,.mfp-preloader a:hover{color:#FFF}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:10046;-webkit-box-shadow:none;box-shadow:none;touch-action:manipulation}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;right:0;top:0;text-decoration:none;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1;filter:alpha(opacity=100)}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#FFF;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#CCC;font-size:12px;line-height:18px;white-space:nowrap}.mfp-figure,img.mfp-img{line-height:0}.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;filter:alpha(opacity=100)}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #FFF;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3F3F3F}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #FFF;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3F3F3F}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler iframe,.mfp-player-scaler .player,.mfp-player-scaler .player1{display:block;top:0;width:100%;background:#000;box-shadow:0 0 8px rgba(0,0,0,.6);position:absolute;left:0}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{height:100%}.mfp-player-scaler{width:100%;max-width:900px;height:0;overflow:hidden;padding-top:56.25%}.mfp-player-scaler .player,.mfp-player-scaler .player1{right:0;bottom:0}.mfp-plyr .mfp-container{padding-top:40px;padding-bottom:40px}.mfp-plyr .player{left:0;max-width:900px;margin:0 auto;height:100%}.mfp-plyr .player1{left:0;max-width:900px;margin:0 auto;height:0}.mfp-image-holder .mfp-content,img.mfp-img{max-width:100%}.mfp-figure:after,img.mfp-img{width:auto;height:auto;display:block}img.mfp-img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{position:absolute;left:0;top:40px;bottom:40px;right:0;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#F3F3F3;word-wrap:break-word;padding-right:36px}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.mfp-fade.mfp-bg.mfp-removing{opacity:0!important}.mfp-fade.mfp-wrap .mfp-content{opacity:0;-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;transition:all .15s ease-out}.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity:1}.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity:0!important}

.js-37-lightbox.mfp-bg{opacity:0;background:#0b0b0b;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.js-37-lightbox.mfp-bg.mfp-ready{opacity:0.8;filter:alpha(opacity=80);}
.img-7{position:absolute;left:0;width:204px;height:356px;top:0;border:0;}
.img-8{left:0;width:204px;height:356px;top:0;display:inline-block;}
.pos-40{position:relative;margin-left:115px;margin-top:0;}
.size-39{min-width:166px;width:166px;min-height:356px;}
.size-40{min-width:166px;width:166px;min-height:125px;height:125px;}
.cont-30{z-index:29;pointer-events:auto;}
.js-38-lightbox.mfp-bg{opacity:0;background:#0b0b0b;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.js-38-lightbox.mfp-bg.mfp-ready{opacity:0.8;filter:alpha(opacity=80);}
.img-9{position:absolute;left:0;width:166px;height:125px;top:0;border:0;}
.img-10{left:0;width:166px;height:125px;top:0;display:inline-block;}
.pos-41{position:relative;margin-left:0;margin-top:12px;}
.size-41{min-width:111px;width:111px;min-height:48px;height:48px;}
.cont-31{z-index:30;pointer-events:auto;}
.pos-42{position:relative;margin-left:0;margin-top:44px;}
.size-42{min-width:166px;width:166px;min-height:127px;height:127px;}
.cont-32{z-index:33;pointer-events:auto;}
.js-39-lightbox.mfp-bg{opacity:0;background:#0b0b0b;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.js-39-lightbox.mfp-bg.mfp-ready{opacity:0.8;filter:alpha(opacity=80);}
.img-11{position:absolute;left:0;width:166px;height:127px;top:0;border:0;}
.img-12{left:0;width:166px;height:127px;top:0;display:inline-block;}
.pos-43{position:relative;margin-left:112px;margin-top:0;}
.size-43{min-width:166px;width:166px;min-height:356px;}
.pos-44{position:relative;margin-left:2px;margin-top:0;}
.size-44{min-width:164px;width:164px;min-height:125px;height:125px;}
.cont-33{z-index:28;pointer-events:auto;}
.js-40-lightbox.mfp-bg{opacity:0;background:#0b0b0b;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.js-40-lightbox.mfp-bg.mfp-ready{opacity:0.8;filter:alpha(opacity=80);}
.img-13{position:absolute;left:0;width:164px;height:125px;top:0;border:0;}
.img-14{left:0;width:164px;height:125px;top:0;display:inline-block;}
.pos-45{position:relative;margin-left:4px;margin-top:12px;}
.size-45{min-width:76px;width:76px;min-height:48px;height:48px;}
.cont-34{z-index:31;pointer-events:auto;}
.pos-46{position:relative;margin-left:0;margin-top:44px;}
.size-46{min-width:166px;width:166px;min-height:127px;height:127px;}
.js-41-lightbox.mfp-bg{opacity:0;background:#0b0b0b;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.js-41-lightbox.mfp-bg.mfp-ready{opacity:0.8;filter:alpha(opacity=80);}
.img-15{position:absolute;left:0;width:166px;height:127px;top:0;border:0;}
.img-16{left:0;width:166px;height:127px;top:0;display:inline-block;}
.pos-47{position:relative;margin-left:227px;margin-top:33px;}
.size-47{min-width:687px;width:687px;min-height:50px;}
.size-48{min-width:109px;width:109px;min-height:50px;height:50px;}
.cont-35{z-index:25;pointer-events:auto;}
.pos-48{position:relative;margin-left:214px;margin-top:0;}
.size-49{min-width:82px;width:82px;min-height:50px;height:50px;}
.cont-36{z-index:34;pointer-events:auto;}
.pos-49{position:relative;margin-left:199px;margin-top:0;}
.size-50{min-width:83px;width:83px;min-height:50px;height:50px;}
.cont-37{z-index:35;pointer-events:auto;}
.pos-50{position:relative;margin-left:817px;margin-top:72px;}
.size-51{min-width:302px;width:302px;min-height:54px;}
.pos-51{position:relative;margin-left:0;margin-top:13px;}
.size-52{min-width:55px;width:55px;min-height:41px;height:41px;}
.cont-38{z-index:37;pointer-events:auto;}
.font-12{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-52{position:relative;margin-left:13px;margin-top:14px;}
.size-53{min-width:72px;width:72px;min-height:36px;height:36px;}
.cont-39{z-index:38;pointer-events:auto;}
.pos-53{position:relative;margin-left:18px;margin-top:0;}
.size-54{min-width:55px;width:55px;min-height:53px;}
.size-55{min-width:55px;width:55px;min-height:41px;height:41px;}
.cont-40{z-index:36;pointer-events:auto;}
.font-13{font-family:"Arial Unicode MS", sans-serif;font-size:22px;font-weight:400;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:41px;letter-spacing:normal;text-shadow:none;}
.pos-54{position:relative;margin-left:5px;margin-top:11px;}
.size-56{min-width:48px;width:48px;min-height:1px;height:1px;-ms-transform:scale(1.000000, -1.000000);-webkit-transform:scale(1.000000, -1.000000);transform:scale(1.000000, -1.000000);}
.cont-41{z-index:41;border:0;background-color:rgb(0,0,0);}
.pos-55{position:relative;margin-left:20px;margin-top:11px;}
.size-57{min-width:69px;width:69px;min-height:42px;height:42px;}
.cont-42{z-index:49;pointer-events:auto;}
.pos-56{position:relative;margin-left:-1119px;margin-top:198px;}
.pos-57{position:relative;margin-left:411px;margin-top:259px;}
.size-58{min-width:455px;width:455px;min-height:155px;height:155px;}
.cont-43{z-index:40;pointer-events:auto;}
.img-17{position:absolute;left:0;width:455px;height:138px;top:8px;border:0;}
.img-18{left:0;width:455px;height:138px;top:8px;display:inline-block;}
.pos-58{position:relative;margin-left:214px;margin-top:96px;}
.size-59{min-width:851px;width:851px;min-height:246px;height:246px;}
.cont-44{z-index:24;pointer-events:auto;}
.img-19{position:absolute;left:0;width:851px;height:187px;top:29px;border:0;}
.img-20{left:0;width:851px;height:187px;top:29px;display:inline-block;}
.pos-59{position:relative;margin-left:812px;margin-top:150px;}
.size-60{min-width:294px;width:294px;min-height:49px;}
.pos-60{position:relative;margin-left:0;margin-top:11px;}
.size-61{min-width:214px;width:214px;min-height:38px;}
.vis-6{display:none;vertical-align:top;}
.pos-62{position:relative;margin-left:0;margin-top:0;}
.size-63{min-width:55px;width:55px;min-height:38px;height:38px;}
.cont-46{z-index:42;pointer-events:auto;}
.font-14{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-63{position:relative;margin-left:24px;margin-top:0;}
.size-64{min-width:58px;width:58px;min-height:38px;height:38px;}
.cont-47{z-index:44;pointer-events:auto;}
.pos-64{position:relative;margin-left:22px;margin-top:0;}
.cont-48{z-index:45;pointer-events:auto;}
.pos-65{position:relative;margin-left:13px;margin-top:0;}
.size-65{min-width:67px;width:67px;min-height:48px;}
.size-66{min-width:67px;width:67px;min-height:41px;height:41px;}
.cont-49{z-index:50;pointer-events:auto;}
.pos-66{position:relative;margin-left:4px;margin-top:6px;}
.size-67{min-width:57px;width:57px;min-height:1px;height:1px;}
.cont-50{z-index:27;border:0;background-color:rgb(0,0,0);}
.pos-67{position:relative;margin-top:118px;}
.size-68{width:100%;min-width:1200px;min-height:150px;height:150px;}
.cont-51{z-index:51;border:0;background-color:rgb(58,63,81);}
.pos-68{position:relative;margin-top:-3595px;}
.section-2{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.pos-69{position:relative;margin-left:0;margin-top:0;}
.size-69{min-width:1200px;width:1200px;min-height:650px;}
.size-70{min-width:787px;width:787px;min-height:650px;height:650px;}
.cont-52{z-index:2;pointer-events:auto;}
.img-21{position:absolute;left:0;width:787px;height:649px;top:1px;border:0;}
.img-22{left:0;width:787px;height:649px;top:1px;display:inline-block;}
.pos-70{position:relative;margin-left:263px;margin-top:0;}
.size-71{min-width:150px;width:150px;min-height:650px;height:650px;}
.cont-53{z-index:8;pointer-events:auto;}
.img-23{position:absolute;left:0;width:150px;height:650px;top:0;border:0;}
.img-24{left:0;width:150px;height:650px;top:0;display:inline-block;}
@media (min-width:960px) and (max-width:1199px) {
.pos{margin-top:1px;}
.size{min-width:960px;min-height:3483px;}
.pos-2{margin-top:620px;}
.section{min-width:960px;width:960px;}
.pos-3{margin-left:562px;margin-top:7px;}
.size-2{min-width:329px;width:329px;min-height:1835px;}
.pos-4{margin-top:41px;}
.size-3{min-width:67px;width:67px;min-height:1794px;}
.pos-5{margin-top:1751px;}
.size-4{min-width:61px;width:61px;min-height:43px;height:43px;}
.font{font-family:"PingFang SC", sans-serif;font-size:20px;text-decoration:none;line-height:40px;}
.pos-6{margin-left:11px;margin-top:-1794px;}
.size-5{min-width:56px;width:56px;}
.pos-7{margin-left:23px;margin-top:0;}
.size-6{min-width:64px;width:64px;min-height:42px;height:42px;}
.pos-8{margin-left:13px;margin-top:1784px;}
.size-7{min-width:61px;width:61px;min-height:43px;height:43px;}
.font-3{font-size:22px;line-height:41px;}
.pos-9{margin-left:37px;margin-top:0;}
.size-8{min-width:64px;width:64px;min-height:47px;height:47px;}
.font-4{font-size:20px;line-height:38px;}
.pos-10{margin-left:-891px;margin-top:138px;}
.pos-11{margin-left:282px;margin-top:207px;}
.size-10{min-width:443px;width:443px;min-height:136px;height:136px;}
.img{width:443px;height:98px;top:19px;}
.img-2{width:443px;height:98px;top:19px;}
.pos-12{margin-left:114px;margin-top:-1411px;}
.size-11{min-width:664px;width:664px;min-height:320px;}
.pos-13{margin-top:30px;}
.size-12{min-width:296px;width:296px;min-height:268px;}
.pos-14{margin-left:15px;margin-top:18px;}
.size-13{min-width:261px;width:261px;min-height:230px;height:230px;}
.img-3{width:260px;height:230px;}
.img-4{width:260px;height:230px;}
.pos-15{margin-left:60px;margin-top:0;}
.size-14{min-width:85px;width:85px;min-height:111px;}
.size-15{min-width:80px;width:80px;min-height:39px;height:39px;}
.pos-17{margin-left:1px;margin-top:26px;}
.size-16{min-width:84px;width:84px;min-height:46px;height:46px;}
.pos-18{margin-left:-83px;margin-top:136px;}
.size-17{min-width:83px;width:83px;min-height:184px;}
.size-18{min-width:78px;width:78px;min-height:42px;height:42px;}
.pos-19{margin-top:26px;}
.size-19{min-width:83px;width:83px;min-height:45px;height:45px;}
.pos-20{margin-top:27px;}
.size-20{min-width:78px;width:78px;min-height:44px;height:44px;}
.pos-21{margin-left:15px;margin-top:136px;}
.size-21{min-width:191px;width:191px;min-height:184px;}
.size-22{min-width:110px;width:110px;min-height:42px;height:42px;}
.font-5{font-size:20px;line-height:38px;}
.pos-23{margin-top:100px;}
.size-23{min-width:191px;width:191px;min-height:42px;height:42px;}
.pos-24{margin-left:456px;margin-top:-320px;}
.size-24{min-width:208px;width:208px;min-height:249px;}
.size-25{min-width:101px;width:101px;min-height:39px;height:39px;}
.pos-26{margin-left:-101px;margin-top:74px;}
.size-26{min-width:106px;width:106px;min-height:28px;height:28px;}
.font-7{font-size:20px;line-height:28px;}
.pos-27{margin-left:2px;margin-top:104px;}
.size-27{min-width:206px;width:206px;min-height:43px;height:43px;}
.pos-28{margin-left:576px;margin-top:-1842px;}
.size-28{min-width:305px;width:305px;min-height:1846px;}
.pos-29{margin-top:0;}
.size-29{min-width:54px;width:54px;min-height:48px;height:48px;}
.font-8{font-family:"PingFang SC", sans-serif;font-size:22px;line-height:43px;}
.pos-30{margin-left:12px;margin-top:940px;}
.size-30{min-width:142px;width:142px;min-height:902px;}
.pos-31{margin-top:859px;}
.size-31{min-width:78px;width:78px;min-height:42px;height:42px;}
.font-9{font-size:20px;text-decoration:none;line-height:38px;}
.pos-32{margin-left:14px;margin-top:-901px;}
.size-32{min-width:128px;width:128px;min-height:902px;}
.pos-33{margin-left:80px;margin-top:901px;}
.size-33{min-width:48px;width:48px;}
.pos-34{margin-top:-902px;}
.pos-35{margin-left:-50px;margin-top:6px;}
.size-34{min-width:61px;width:61px;min-height:43px;height:43px;}
.font-10{font-size:20px;text-decoration:none;line-height:38px;}
.pos-36{margin-left:22px;margin-top:1799px;}
.size-35{min-width:64px;width:64px;min-height:47px;height:47px;}
.font-11{font-size:20px;line-height:38px;}
.pos-37{margin-left:-881px;margin-top:-834px;}
.pos-38{margin-left:288px;margin-top:-740px;}
.size-36{min-width:443px;width:443px;min-height:148px;height:148px;}
.img-5{width:443px;height:122px;}
.img-6{width:443px;height:122px;}
.pos-39{margin-left:113px;margin-top:-548px;}
.size-37{min-width:728px;width:728px;}
.size-38{min-width:132px;width:132px;}
.img-7{width:132px;}
.img-8{width:132px;}
.pos-40{margin-left:117px;}
.size-39{min-width:173px;width:173px;}
.size-40{min-width:173px;width:173px;min-height:130px;height:130px;}
.img-9{width:173px;height:130px;}
.img-10{width:173px;height:130px;}
.pos-41{margin-top:23px;}
.size-41{min-width:133px;width:133px;min-height:41px;height:41px;}
.pos-42{margin-left:1px;margin-top:46px;}
.size-42{min-width:172px;width:172px;min-height:116px;height:116px;}
.img-11{width:172px;height:116px;}
.img-12{width:172px;height:116px;}
.pos-43{margin-left:117px;margin-top:4px;}
.size-43{min-width:189px;width:189px;min-height:352px;}
.pos-44{margin-left:3px;}
.size-44{min-width:186px;width:186px;min-height:130px;height:130px;}
.img-13{width:186px;height:130px;}
.img-14{width:186px;height:130px;}
.pos-45{margin-left:3px;margin-top:19px;}
.size-45{min-width:114px;width:114px;min-height:40px;height:40px;}
.pos-46{margin-top:47px;}
.size-46{min-width:184px;width:184px;min-height:116px;height:116px;}
.img-15{width:184px;height:116px;}
.img-16{width:184px;height:116px;}
.pos-47{margin-left:113px;margin-top:-176px;}
.size-47{min-width:639px;width:639px;min-height:40px;}
.size-48{min-width:123px;width:123px;min-height:40px;height:40px;}
.pos-48{margin-left:139px;}
.size-49{min-width:107px;width:107px;min-height:40px;height:40px;}
.pos-49{margin-left:170px;}
.size-50{min-width:100px;width:100px;min-height:40px;height:40px;}
.pos-50{margin-left:575px;margin-top:682px;}
.size-51{min-width:308px;width:308px;min-height:61px;}
.pos-51{margin-top:16px;}
.size-52{min-width:66px;width:66px;min-height:45px;height:45px;}
.font-12{font-size:20px;line-height:28px;}
.pos-52{margin-left:6px;margin-top:7px;}
.size-53{min-width:64px;width:64px;min-height:45px;height:45px;}
.pos-53{margin-left:11px;margin-top:6px;}
.size-54{min-width:143px;width:143px;min-height:45px;}
.size-55{min-width:67px;width:67px;min-height:45px;height:45px;}
.font-13{font-size:20px;text-decoration:none;line-height:38px;}
.pos-54{margin-left:31px;margin-top:39px;}
.size-56{min-width:45px;width:45px;}
.pos-55{margin-left:227px;margin-top:-61px;}
.size-57{min-width:81px;width:81px;min-height:51px;height:51px;}
.pos-56{margin-left:-883px;margin-top:85px;}
.pos-57{margin-left:287px;margin-top:146px;}
.size-58{min-width:446px;width:446px;min-height:152px;height:152px;}
.img-17{width:446px;height:135px;}
.img-18{width:446px;height:135px;}
.pos-58{margin-left:160px;margin-top:-376px;}
.size-59{min-width:705px;width:705px;min-height:203px;height:203px;}
.img-19{width:705px;height:155px;top:24px;}
.img-20{width:705px;height:155px;top:24px;}
.pos-59{margin-left:571px;margin-top:-1700px;}
.size-60{min-width:309px;width:309px;min-height:1685px;}
.pos-60{margin-top:0;}
.size-61{min-width:218px;width:218px;min-height:53px;}
.pos-62{margin-top:10px;}
.size-63{min-width:51px;width:51px;min-height:42px;height:42px;}
.font-14{font-family:"PingFang SC", sans-serif;line-height:36px;}
.pos-63{margin-left:20px;}
.size-64{min-width:78px;width:78px;min-height:42px;height:42px;}
.pos-64{margin-left:8px;margin-top:10px;}
.pos-65{margin-left:27px;margin-top:10px;}
.size-65{min-width:64px;width:64px;min-height:1675px;}
.size-66{min-width:64px;width:64px;min-height:47px;height:47px;}
.pos-66{margin-top:1627px;}
.size-67{min-width:45px;width:45px;}
.pos-67{margin-top:154px;}
.size-68{min-width:960px;min-height:120px;height:120px;}
.pos-68{margin-top:-3484px;}
.section-2{min-width:960px;width:960px;}
.pos-69{margin-left:1px;}
.size-69{min-width:956px;width:956px;min-height:520px;}
.size-70{min-width:619px;width:619px;min-height:509px;height:509px;}
.img-21{left:1px;width:618px;height:509px;top:0;}
.img-22{left:1px;width:618px;height:509px;top:0;}
.pos-70{margin-left:217px;}
.size-71{min-width:120px;width:120px;min-height:520px;height:520px;}
.img-23{width:120px;height:520px;}
.img-24{width:120px;height:520px;}
}
@media (max-width:959px) {
.size{min-width:320px;min-height:2155px;}
.pos-2{margin-top:131px;}
.section{min-width:320px;width:320px;}
.vis-3{display:none;}
.vis-4{display:none;}
.pos-10{margin-left:0;margin-top:334px;}
.pos-11{margin-left:0;margin-top:0;}
.size-10{min-width:320px;width:320px;min-height:96px;height:96px;}
.img{width:320px;height:71px;top:12px;}
.img-2{width:320px;height:71px;top:12px;}
.pos-12{margin-left:49px;margin-top:0;}
.size-11{min-width:246px;width:246px;min-height:382px;}
.size-12{min-width:219px;width:219px;min-height:205px;}
.pos-14{margin-left:12px;margin-top:19px;}
.size-13{min-width:187px;width:187px;min-height:166px;height:166px;}
.img-3{left:0;width:187px;height:166px;}
.img-4{left:0;width:187px;height:166px;}
.pos-21{margin-left:108px;margin-top:63px;}
.size-21{min-width:103px;width:103px;min-height:114px;}
.size-22{min-width:76px;width:76px;min-height:31px;height:31px;}
.font-5{font-size:16px;line-height:30px;}
.pos-23{margin-top:51px;}
.size-23{min-width:103px;width:103px;min-height:32px;height:32px;}
.pos-24{margin-left:15px;margin-top:-149px;}
.size-24{min-width:231px;width:231px;min-height:141px;}
.pos-25{margin-top:11px;}
.size-25{min-width:38px;width:38px;min-height:130px;height:130px;}
.font-6{font-size:22px;line-height:41px;}
.pos-26{margin-left:55px;margin-top:0;}
.size-26{min-width:90px;width:90px;min-height:26px;height:26px;}
.font-7{font-size:16px;line-height:22px;}
.pos-27{margin-left:94px;margin-top:-65px;}
.size-27{min-width:137px;width:137px;min-height:31px;height:31px;}
.pos-28{margin-left:242px;margin-top:-813px;}
.size-28{min-width:78px;width:78px;min-height:263px;}
.pos-29{margin-left:28px;margin-top:0;}
.size-29{min-width:47px;width:47px;min-height:46px;height:46px;}
.para-4{text-align:right;}
.font-8{font-family:"PingFang SC", sans-serif;font-size:20px;line-height:40px;}
.pos-30{margin-left:0;margin-top:23px;}
.size-30{min-width:78px;width:78px;min-height:41px;}
.size-31{min-width:78px;width:78px;min-height:41px;height:41px;}
.font-9{font-size:20px;text-decoration:none;line-height:38px;}
.pos-35{margin-left:28px;margin-top:32px;}
.size-34{min-width:47px;width:47px;min-height:45px;height:45px;}
.font-10{font-size:20px;text-decoration:none;line-height:38px;}
.pos-36{margin-left:1px;margin-top:32px;}
.size-35{min-width:77px;width:77px;min-height:44px;height:44px;}
.font-11{font-size:20px;line-height:38px;}
.pos-37{margin-left:0;margin-top:45px;}
.pos-38{margin-left:0;margin-top:-1px;}
.size-36{min-width:320px;width:320px;min-height:109px;height:109px;}
.img-5{width:320px;height:89px;top:10px;}
.img-6{width:320px;height:89px;top:10px;}
.pos-39{margin-left:10px;margin-top:-7px;}
.size-37{min-width:298px;width:298px;min-height:576px;}
.size-38{min-width:141px;width:141px;min-height:136px;height:136px;}
.img-7{width:141px;height:136px;}
.img-8{width:141px;height:136px;}
.pos-40{margin-left:33px;}
.size-39{min-width:124px;width:124px;min-height:352px;}
.size-40{min-width:124px;width:124px;min-height:139px;height:139px;}
.img-9{width:124px;height:139px;}
.img-10{width:124px;height:139px;}
.pos-41{margin-top:17px;}
.size-41{min-width:107px;width:107px;min-height:59px;height:59px;}
.pos-42{margin-left:4px;margin-top:22px;}
.size-42{min-width:120px;width:120px;min-height:115px;height:115px;}
.img-11{width:120px;height:115px;}
.img-12{width:120px;height:115px;}
.pos-43{margin-left:1px;margin-top:-115px;}
.size-43{min-width:140px;width:140px;min-height:339px;}
.pos-44{margin-left:1px;}
.size-44{min-width:139px;width:139px;min-height:119px;height:119px;}
.img-13{width:139px;height:119px;}
.img-14{width:139px;height:119px;}
.pos-45{margin-left:2px;margin-top:16px;}
.size-45{min-width:95px;width:95px;min-height:34px;height:34px;}
.size-46{min-width:138px;width:138px;min-height:126px;height:126px;}
.img-15{width:138px;height:126px;}
.img-16{width:138px;height:126px;}
.pos-47{margin-left:10px;margin-top:-420px;}
.size-47{min-width:259px;width:259px;min-height:475px;}
.size-48{min-width:104px;width:104px;min-height:59px;height:59px;}
.pos-48{margin-left:-101px;margin-top:440px;}
.size-49{min-width:73px;width:73px;min-height:35px;height:35px;}
.pos-49{margin-left:102px;margin-top:216px;}
.size-50{min-width:81px;width:81px;min-height:34px;height:34px;}
.pos-56{margin-left:-269px;margin-top:120px;}
.pos-57{margin-left:0;margin-top:-1px;}
.size-58{min-width:320px;width:320px;min-height:108px;height:108px;}
.img-17{width:320px;height:97px;top:5px;}
.img-18{width:320px;height:97px;top:5px;}
.pos-58{margin-left:0;margin-top:40px;}
.size-59{min-width:320px;width:320px;min-height:161px;height:161px;}
.img-19{width:320px;height:70px;top:46px;}
.img-20{width:320px;height:70px;top:46px;}
.pos-67{margin-top:19px;}
.size-68{min-width:320px;min-height:40px;height:40px;}
.pos-68{margin-top:-2155px;}
.section-2{min-width:320px;width:320px;}
.size-69{min-width:237px;width:237px;min-height:394px;}
.size-70{min-width:237px;width:237px;min-height:193px;height:193px;}
.img-21{left:1px;width:235px;height:193px;top:0;}
.img-22{left:1px;width:235px;height:193px;top:0;}
.pos-70{margin-left:0;margin-top:-112px;}
.size-71{min-width:66px;width:66px;min-height:313px;height:313px;}
.img-23{width:66px;height:313px;}
.img-24{width:66px;height:313px;}
}
